.test {
    &:hover {
        color: red;
    }
    color: green;
}
.test {
    &__item {
        margin: 0px 0px 0px 0px;
    }
}
.test {
}
.test__item {
}
.test {
    &__item {
    }
}
.dfeipfj {
    margin: 0px 0px 0px 0px;
}
